rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Allow anyone to read and write to any document in your Firestore database
    match /users/{userId} {
      allow read: if request.auth.uid != null;
      allow create: if request.auth.uid == userId;

    }
  }
}
