// /* Image Carousel */


.marquee-content {
  display: flex;
  animation: scrolling 15s linear infinite;
  margin-left: 5px;
  margin-right: 5px;
}

.marquee-item {
  // flex: 0 0 16vw;
  // margin: 0 1vw;
     flex: 0 0 20vw; 
     margin: 0 2vw; 
   padding: 0 20px; 
   width: auto;
}

.marquee-item img {
  display: block;
  width: auto;
  /*   padding: 0 20px; */
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translatex(-144vw);
  }
}
