@import "./styles/custom.css";

@import "./styles/custom.scss";

@font-face {
	font-family: "Montserrat";
	src: url("/src/assets/fonts/Montserrat/Montserrat.ttf") format("trueType");
}
@font-face {
	font-family: "Hathem";
	src: url("/src/assets/fonts/Signature/Hathem Bosteem.ttf") format("trueType");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
