@import "./styles/custom.css";

@import "./styles/custom.scss";

@font-face{
	font-family: "Montserrat";
	src: url("/src/assets/fonts/Montserrat/Montserrat.ttf") format("trueType");
}

@font-face {
	font-family: "Glacial Indifference Bold";
	src: url("/src/assets/fonts/glacial-indifference/GlacialIndifference-Bold.otf") format("trueType");
}
@font-face {
	font-family: "Glacial Indifference Italic";
	src: url("/src/assets/fonts/glacial-indifference/GlacialIndifference-Italic.otf") format("trueType");
}
@font-face {
	font-family: "Glacial Indifference Regular";
	src: url("/src/assets/fonts/glacial-indifference/GlacialIndifference-Regular.otf") format("trueType");
}
@font-face {
	font-family: "PlayFair Display";
	src: url("/src/assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("trueType");
}
@font-face {
	font-family: "Open Sans Regular";
	src: url("/src/assets/fonts/open-sans/OpenSans-Regular.ttf") format("trueType");
}
@font-face {
	font-family: "Hathem";
	src: url("/src/assets/fonts/Signature/Hathem Bosteem.ttf") format("trueType");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
